{{- $name  := env "GIT_AUTHOR_NAME"  -}}
{{- $email := env "GIT_AUTHOR_EMAIL" -}}

{{- if not $name  -}}{{- $name  = promptStringOnce . "name"  "Git author name"  -}}{{- end -}}
{{- if not $email -}}{{- $email = promptStringOnce . "email" "Git author email" -}}{{- end -}}

[data]
  name  = {{ $name  | quote }}
  email = {{ $email | quote }}
